<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NhanhNhuChop.Properties.Settings.NhanhNhuChopConnectionString"
            connectionString="Data Source=DESKTOP-9VUDH2B;Initial Catalog=NhanhNhuChop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>